<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1 class="minstrel">Minstrel</h1>
			<p>Minstrel lets fans and musicians interact in a neat way. Fans can view artist profiles and check out their songs, if they like what they see, they may follow this musician. This allows instant acecess to request a live mini-performance. If the musician is available, the two can then connect via Minstrel! Hit it off or launch right into the performance, that's up to you! Minstrel's goal is to connect musicans and Fans in our busy lifestyles, music has always been a big part of human nature, and we believe it always will!</p>	
		</div>
    <button><%= link_to "Make A Profile, It's Easy!", register_path, class: "wlcome"%></button>
	</div>
</div>
