<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Minstrel</h1>
			<p>Minstrel let's fans and Musicians interact in a neat way. Fans can view artist profiles and check out their songs, if they like what they see, they may like this musician which allows instant acecess to request a live performance of a song. If the musician is available, the two can then connect via Minstrel, and you two can hit it off or launch right into the performance, that's up to you! I envision this as a way to connect Musicans and Fans in our busy lifestyles, you might not be able to make the show, but you can sure grab a taste! </p>	
		</div>
    <button><%= link_to "Make A Profile, It's Easy!", register_path %></button>
	</div>
</div>
